.banner-reservation{
    background:repeat-x white url(../images/jungle.jpg) center / cover;
    height: 40vh;
    position: relative;
    z-index: 0;
    color: white;
    font-weight: bolder;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position:absolute ;
        background-color: rgba(0, 0, 0, 0.22);
        z-index: -1;
    }
    & .banner-reservation-nav-container{
        min-width: 100%;
        height: 100%;
        & ul {
            width: 100%;
            gap:50%;
        }
    }
}

.calendar-section {
    & .calendar-section-calendar {
        & #calendar{
                & button.fc-prev-button.btn.btn-primary,
                button.fc-next-button.btn.btn-primary{
                        background-color: black ;
                        color: white;
                        border: none;
                }
                & .fc-day-today {
                    background: rgba(152, 251, 152, 0.431) ;
                } 
            }
        & .description-calendar{
            gap: 250px;
            & ul{
                & li{
                    & span{
                        padding-right: 10px;
                    }
                    &:nth-child(1) span{
                        color: red;
                    }
                    &:nth-child(2) .fa-square{
                        color: black
                    }
                    &:nth-child(3) span{
                        color: rgb(8, 115, 255);
                    }
                }
            }
            }        
    }

    & .calendar-section-details {
        & #res_code{
            color: gold;
        }
        & .errante-card{
            & .img-card {
                min-width: 100%;
                height: 230px;
            }
            & img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        & .pay-plan{
            & div{
                &:last-child{
                    background-color: rgb(84, 82, 82);
                    min-height: 100px;
                    text-align: center;
                    & a{
                        color: white;
                    }
                }
            }
        }
    }
         
}


.disponibilidad{
    & form{
        min-width: 100%;
        background-color: gold;
        & .form-container{
            gap: 10px;
        }
        & div.left{
            max-width: 70%;
            gap: 50px;
            padding-left: 10px;
        }
        & label{
            gap: 10px;
            max-width: 222px;       
        }
        & button{
            min-width: 28%;
            background-color: black;
            color: white;
            border-radius: 5px;
            border: none;
        }
        
    }
}
