
#a {
    grid-column: 1/6;
}
#grid figure {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#grid my_image{
    display: block;
    width: 100%;
}

#grid .image_overlay{
    position: absolute;
    top:0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    transition: all 0.5s;
}


#b {
    grid-column: 6/10;
}

#c {
    grid-column: 1/4;
}

#d {
    grid-column: 4/7;
}

#e {
    grid-column: 7/10;
} 

#grid {
    display: grid;

    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  100% 100%;
    justify-content:flex-start;

}


