*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}


.banner {
    background:repeat-x black url(../images/bg.jpg) center / cover;
    height: 85vh;
    }

.circle {
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: 50%;
        }
